<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ budget.name }}'s Budget has been flag as absuive</title>
</head>
<body>
    <dl>
        <dt style="font-weight: bold; margin: 0 0 5px 0;">Name</dt>
        <dd style="margin: 0 0 15px 0;">{{ budget.name }}</dd>

        <dt style="font-weight: bold; margin: 0 0 5px 0;">State</dt>
        <dd style="margin: 0 0 15px 0;">{{ budget.state }}</dd>

        <dt style="font-weight: bold; margin: 0 0 5px 0;">Description</dt>
        <dd style="margin: 0 0 15px 0;">{{ budget.description }}</dd>

        <dt style="font-weight: bold; margin: 0 0 5px 0;">ID</dt>
        <dd style="margin: 0 0 15px 0;">{{ budget.id }}</dd>
    </dl>
</body>
</html>